aside{
    padding: 1em 1.5em;

    grid-column: 1;
    grid-row: 1;

    max-height: 65dvh;
    border: .25em solid var(--border-strong);
    border-radius: 1em;

    position: sticky;
    top: 12.5%;
}
aside h2{
    text-align: center;
}