aside{
    padding: 1em 1.5em;
    grid-area: aside;
    max-height: 65dvh;
    border: .25em solid var(--border-strong);
    border-radius: 1em;

    position: sticky;
    top: 12.5%;
}
aside h2{
    text-align: center;
}