.cuenta {
    margin: 0 1em;
}
.form{
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr .5fr .5fr;
    gap: 1em;
    width: 70%;
    border: .3em solid #000;
}
.form .info{
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.form .password{
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.form .message{
    flex: .5;
}

.form label{
    font-size: 1.5em;
}

.message p{
    position: relative;
    margin: 0;
    width: 100%;
    text-align: center;
    transition:  color .25s ease-in-out;
}

.message p::before{
    content: "";
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: -1;
}
.message input:checked ~ p::before{
    background: var(--valid);
    transition: height .25s ease-in-out;
}
.message input ~ p::before{
    background: var(--invalid);
    transition: height .25s ease-in-out;
}
.message:hover p{
    color: var(--White);
}
.message:hover p::before{
    height: 130%;
}
.message input{
    position: absolute;
    width: 0;
    height: 0;
}

.secure{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}
.secure .field{
    flex: .4;
}
.field{
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex-grow: .2;
}

.field input{
    padding: .25em;
    font-size: 1.2em;
}

.form input[type='text']:valid{
    border: .1em solid var(--valid);
}

.form input[type='password']:user-valid{
    border: .1em solid var(--valid);
}

.form input[type='text']:invalid{
    border: .1em solid var(--invalid);
}

.form input[type='password']:user-invalid{
    border: .1em solid var(--invalid);
}

.form button{
    position: relative;
    margin: 0 auto;
    background: transparent;
    color: var(--White);
    font-weight: bold;
    width: 25%;
    overflow: hidden;
    transition: color .5s linear;
}
.form button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -12.5%;
    background: var(--first);
    height: 100%;
    width: 125%;
    border-radius: 2em;
    transform: scaleX(1);
    transition: transform .5s linear(
        0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765,
        1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785,
        0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953,
        0.973, 1, 0.988, 0.984, 0.988, 1
      );
    z-index: -1;
}

.form button:hover::before{
    transform: scaleX(.35);
}
