.Error-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Error-page noti{
    padding: 2em;
    width: 30%;
    min-height: 25%;
    background: var(--Error);
    border: .5em solid var(--Black);
    border-radius: 1em;
    color: var(--White);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr;
    gap: .5em;
}

.Error-page h3{
    margin-bottom: 1em;
    font-size: 2em;
    color: var(--White);
}

.Error-page p{
    margin:0;
    align-self: center;
    font-size: 1.1em;
}