.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--LightGray);
}
.Login > .form{
    padding: 1em 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: .75vh;
    box-shadow: .5em 1em .75em var(--Gray);
    background: var(--White);
}
.Login h3{
    font-size: 2.2em;
    margin-bottom: .75em;
}
.Login div{
    padding: .25em;
    display: flex;
    flex-direction: column;
    width: 65%;
}
.Login label{
    font-size: 1.75em;
}
.Login input[type="text"], input[type="password"]{
    font-size: 1.25em;
    padding: .25em;
    border:0;
    border-radius: .2em;
    outline: .05em solid var(--Black);
}
.Login input:user-invalid{
    outline: .1em dashed var(--invalid);
}
.Login input:user-valid{
    outline:.1em solid var(--valid);
}
.Login input:focus{
    outline: .1em solid var(--Black);
}
.Login .summit{
    margin-bottom: 1em;
    width: 65%;
    cursor: pointer;
}
.Login .summit button{
    padding: .6em 1.2em;
    font-size: 1.25em;
    border-radius: .35em;
    border:0;
    box-shadow: .2em .2em .3em var(--shadow-lightgray);
    color: var(--White);
    font-weight: bold;
    background: var(--first);
    cursor: pointer;
    transform: scale3d(1,1,1);
    transition: .3s ease box-shadow, .5s ease background, .3s ease transform;
}
.Login .summit button:hover{
    box-shadow: none;
    background: var(--second);
    transform: scale3d(0.95,0.95,1);
    transition: .75s .3s ease box-shadow, .5s ease background, .75s ease transform;
}