*{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3em;
    color: var(--Black);
    text-align: center;
    margin-top: 20px;
}
h2{
    font-size: 2.2em;
    color: var(--Black);
    text-align: center;
    margin-top: 20px;
}
h3 {
    font-size: 1.5em;
    color: var(--Black);
    text-align: center;
    margin-top: 20px;
}
h4 {
    font-size: 1.1em;
    color: var(--Black);
    text-align: center;
    margin-top: 20px;
}

p{
    font-size: 1em;
    color: var(--Black);
    text-align: center;
    margin-top: 20px;
}