@media (prefers-color-scheme: light) {
    :root {
        --text: #000000;
        --text-hightlight: #4397eb;
        --background: #ffffff;
        --primary: #ffffff;
        --secondary: #bd51d3;
        --accent: #3e7ccd;
        --border: rgb(30, 30, 30);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --text-hightlight: #2581d0;
        --background: #000000;
        --primary: #39005a;
        --secondary: #7800b0;
        --accent: #002caf;
        --border-strong: #fff;
        --border-soft: #cfcfcf;
    }
}  

:root{
    --shadow: #00000085;
    --error: #ff2929;
    --warning: #ffee33;
    --note: #33b1ff;
    --correct: #00ca2f;
}