main{
    margin: auto;
    width: 95%;
}
main intro{
    margin:auto;
    width: 60%;
    display: block;
}
intro h1{
    font-size: 2.5em;
    text-align: center;
}
intro p{
    text-align: justify;
}
main hr{
    margin-top: 1em;
    height: .25em;
    background: var(--border-strong);
    border: none;
}
main content{
    margin-top: 1em;
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "aside manhwa"
                         "aside manga";
    gap: .5em 1em;

    position: relative;
}
content .manhwa{
    grid-area: manhwa;
}
content .manga{
    grid-area: manga;
}