main{
    margin: auto;
    width: 95%;
}
main intro{
    margin:auto;
    width: 60%;
    display: block;
}
intro h1{
    font-size: 2.5em;
    text-align: center;
}
intro p{
    text-align: justify;
}
main hr{
    margin-top: 1em;
    height: .25em;
    background: var(--border-strong);
    border: none;
}
main content{
    margin-top: 1em;
    display: grid;
    grid-template-columns: .3fr 1fr;
    gap: .5em 1em;

    position: relative;
}
content .manhwa{
    grid-column: 2;
}
content .manga{
    grid-column: 2;
    
}
content div{
    margin: 0 auto;
    width: 90%;
}
content div h2{
    text-align: center;
    font-size: 2em;
}
content div > p{
    text-align: center;
}
.op{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
.op article{
    padding: 1.5em;
    border-radius: .5em;
    background: var(--background);

    display: grid;
    grid-template-rows: min-content 1fr min-content;

    position: relative;
}
.op article::before, .op article::after{
    content: "";
    height: 100%;
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    padding: .25em;
    border-radius: .5em;
    background: conic-gradient(from var(--degree),var(--primary) 10%, var(--secondary) 40%, var(--accent) 90%, var(--primary) 100%);
    z-index: -1;
    
    animation: rotate 2s both infinite;
    animation-play-state: paused;
}
.op article::after{
    filter: blur(.5em);
    opacity: .5;
}
.op article:hover::before, .op article:hover::after{
    animation-play-state: running;
}
.op article h3{
    margin-bottom: 1em;
    text-align: center;
    color: var(--background);
    background-color: var(--text);
}
.op article .img_p{
    width: 100%;
}
.op article .img_p div{
    width: 100%;
}
.op article img{
    width: 100%;
    height: 15em;
    object-fit: cover;
    object-position: 0% 15%;
}
.op article p{
    text-align: justify;
}

/** Para tamaños de tablet y portatiles entr 1080p y 720p  */
@media screen and (max-width: 1920px) and (min-width: 1200px){
    .op{
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}

@media screen and (max-width: 1920px){
    main intro{
        width: 80%;
    }
    main content{
        grid-template-columns: 1fr;
        row-gap: .5em;
    }
    main .manhwa{
        grid-column: 1;
        width: 95%;
    }
    main .manga{
        grid-column: 1;
        width: 95%;
    }
}

/*? Para los tamaños de moviles */
@media screen and (max-width: 1200px){
    .op{
        grid-template-columns: 1fr;
        row-gap: 2em;
    }
    .op article{
        display: block;
    }
    .op article .img_p{
        display: flex;
        column-gap: 1em;
    }
    .img_p div{
        flex: 1;
        position: relative;
    }
    .op article img{
       width: 100%;
       height: 100%;
       position: absolute;
    }
    .op article p{
        height: fit-content;
    }
    .op article a{
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 800px) {
    main intro{
        width: 90%;
    }
    .op article .img_p{
        display: block;
    }
    .op article .img_p div{
        position: initial;
    }
    .op article img{
        height: 15em;
        position: initial;
    }
}