main{
    margin: auto;
    width: 95%;
}
main intro{
    /** Rellenar */
}

main content{
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "aside manhwa"
                         "aside manga";
    gap: .5em 1em;

    position: relative;
}
content .manhwa{
    grid-area: manhwa;
}
content .manga{
    grid-area: manga;
}